.error-page {
  padding: 3rem;
  text-align: center;
  min-height: 60vh;
  position: relative;
  z-index: 2;

  img {
    max-width: 300px;
    margin-bottom: 1.5rem;
    opacity: 0.6;
  }

  p {
    color: $white-dim;
    font-size: 1.1rem;
  }
}
