.error-component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-image {
    width: 20rem;
  }

  &-text {
    font-size: 1.2rem;
    color: $theme-color3;
  }
}
