.loading-component {
  display: flex;
  justify-content: center;
  align-items: center;

  &-main {
    border: 6px solid $theme-color3;
    border-top: 6px solid $theme-color2;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
}
